.button-container {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    margin-top: 30px;
  }
}

.full-custom-heigth {
  height: 80vh;
}
