<app-layout>
 
  <div class="content">
    <div class="col-lg-6 my-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"></h5>
          <h3 class="card-title">
            <i class="tim-icons icon-single-02 text-danger-states"> </i>Users
            <div class="text-center">
              <button
                id="singlebutton"
                name="singlebutton"
                class="btn btn-danger"
                (click)="goToRoute('/create-user')"
                [disabled]="!isAdmin"
              >
                Create New User
              </button>
            </div>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Rol</th>
            <th scope="col">Date Birth</th>
            <th scope="col">Delete User</th>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr *ngFor="let user of users">
            <th id="coId">{{ user.userId }}</th>
            <td>{{ user.username }} {{ user.surname }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.roles }}</td>
            <td>{{ user.dateBirth }}</td>
            <td class="input-group">
              <button
                class="input-group-append"
                (click)="openDelete(user.userId)"
                type="button"
                class="btn btn-danger animation-on-hover"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center" *ngIf="loading">
      <div
        div
        class="spinner-grow"
        style="width: 5rem; height: 5rem;"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</app-layout>
