#acId {
  color: white;
}

.whole {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #1e1f2f;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 5rem;
    height: 5rem;
  }
}
