<app-layout>
  <div class="content">
    <div class="col-lg-6 my-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"></h5>
          <h3 class="card-title">
            <i class="tim-icons icon-single-copy-04 text-info"> </i>Account
            <div class="text-center">
              <button
                id="singlebutton"
                name="singlebutton"
                class="btn btn-danger"
                (click)="goToRoute('/create-lead')"
              >
                Create New Account
              </button>
            </div>
          </h3>
        </div>
          
      </div>
    </div>
    <div class="row">
      <table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th scope="col">Account ID</th>
            <th scope="col">Balance</th>
            <th scope="col">Status</th>
            <th scope="col">Secret Key</th>
            <th scope="col">User ID</th>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr *ngFor="let account of accounts">
            <th id="acId">{{ account.id }}</th>
            <td>{{ account.balance }}</td>
            <td>{{ account.status }}</td>
            <td>{{ account.secretKey }}</td>
            <td>{{ account.userId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center" *ngIf="loading">
      <div
        div
        class="spinner-grow"
        style="width: 5rem; height: 5rem;"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</app-layout>
