<app-layout>
  <div class="content">
    <div class="row">
      <table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Id SalesRep</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr *ngFor="let ld of leads">
            <th id="opId">{{ ld.id }}</th>
            <td>{{ ld.informationContact.name }}</td>
            <td>{{ ld.informationContact.phoneNumber }}</td>
            <td>{{ ld.informationContact.email }}</td>
            <td>{{ ld.salesRepId }}</td>
            <td>{{ ld.company }}</td>
            <td>
              <button
                class="input-group-append"
                (click)="convertLead(ld.id)"
                type="button"
                class="btn btn-outline-light"
              >
                Convert
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center" *ngIf="loading">
      <div
        div
        class="spinner-grow"
        style="width: 5rem; height: 5rem;"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</app-layout>
